[run]
branch = True
parallel = True
source = .
omit =
    */plug_auto_discover*
    */plug_bad_compile*
    conftest.py
    migrations/*
    temp/*
    */third_party/*
    */templates/*
    *:Zone.Identifier
    */__pycache__/*
    */site-packages/*
    .venv/*
    venv/*
    .tox/*
    .env
    setup.py
    web_ui_react/*
    web_ui/*
    tests/*
[report]
fail_under = 90
show_missing = True
skip_covered = True
precision = 2
# Raporlama sırasında göz ardı edilecek dosya desenleri
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    if typing.TYPE_CHECKING:
    @abstractmethod
    @abstractproperty
    if 0:
    if False:

[html]
directory = htmlcov
