[run]
branch = True
parallel = True
omit =
    tests/*
    */sidar_plugin_*
    */plug_auto_discover*
    */plug_bad_compile*
    */__pycache__/*
    */site-packages/*
    setup.py

[report]
fail_under = 100
show_missing = True
skip_covered = True
precision = 2
# Raporlama sırasında göz ardı edilecek dosya desenleri
exclude_lines =
    pragma: no cover
    pragma: no branch
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    if typing.TYPE_CHECKING:
    @abstractmethod
    @abstractproperty
    if 0:
    if False:

[html]
directory = htmlcov

[xml]
